CONFIG_ARM=y
CONFIG_POSITION_INDEPENDENT=y
CONFIG_ARCH_NUVOTON=y
CONFIG_SYS_TEXT_BASE=0x80E00000
CONFIG_SYS_MALLOC_F_LEN=0x4000
CONFIG_TARGET_NUA3500=y
CONFIG_NR_DRAM_BANKS=1
CONFIG_ARMV8_SET_SMPEN=y
CONFIG_BOOTDELAY=0
CONFIG_BOARD_LATE_INIT=y
CONFIG_SYS_PROMPT="NUA3500> "
CONFIG_DEFAULT_DEVICE_TREE="nua3500"
CONFIG_SPECIFY_CONSOLE_INDEX=y
CONFIG_CONS_INDEX=0
CONFIG_DM_SERIAL=y
CONFIG_BAUDRATE=9600
